.loginbtn {
	background-color: rgba(0, 195, 98, 255);
	border: none;
	margin-bottom: 10px;
	margin-top: 10px
}
.logindiv {
	margin-bottom: 20px
}
.loginInputForm {
	width: 300px;
}
.loginmainform {
	width: 400px;
}
.login_btn {
	background-color: rgba(0, 195, 98, 255); border: none; margin-bottom: 10px; margin-top: 10px
}